/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of stylesheet */
/* Beginning of my edit */

h1 {
  color: #B06660;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding-bottom: .5em;
	text-align: center;
	background-color: #D9A88F;
}

p {
	text-align: center;
	font-size: 1em;
	padding-top: .5em;
}

body {
	background-color: #B06660;
}

#results {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 1.5em;
	display: block;
	text-align: center;
	padding-bottom: 1em;
}

#submit, #button {
  color: black;
	margin-top: .5em;
	margin-bottom: .5em;
	text-align: center;
	background-color: white;
	padding: .5em;
}

#artistform {
	width: 150px;
	margin:auto;
	padding-top: 1em;
}

#artistname {
	padding-top: 1.5em;
	text-align: center;
	font-size: .5em;
	color: black;
}

#artistName {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

#trackName {
	padding-top: 1.5em;
	padding-bottom: 1em;
}

#previewUrl {
	padding-top: 1.5em;
	padding-bottom: 1em;
  font-size: 1em;
}

#artworkUrl100 {
	align-items: flex-start;
	padding-top: 1em;
}
